.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/bg.jpg');

    img {
        border-radius: 100px;
    }

}