@keyframes shake {
    0%{
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(4deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/bg.jpg');

    img {
        border-radius: 100px;
        animation-name: shake;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
        animation-delay: 0s;
    }

}