.transactions {
    display: flex;
    justify-content: center;

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;

        button {
            height: 50px;
        }
    }

    &__table-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.row {
    &__listItem {
        display: flex;
        justify-content: space-between;
        height: 30px;
        align-items: center;

        &__title {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}