.filters {
    &__collapse {
        display: flex;
    }

    &__form {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        &__select {
            width: 200px;
        }
    }
}

@media (max-width: 650px) {
    .filters__form {
        flex-direction: column;
    }
}