.home {
    min-height: calc(100vh - 100px);
    width: 100vw;
    position: relative;
    background-color: #f4f5fa;
    padding-bottom: 100px;

    &__sidenav {
        position: absolute;
        height: 100%;
        z-index: 1;
        background-color: white;
    }

    &__table {
        width: calc(100vw - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;

        &__header {
            background-color: white;
            width: 100%;
            text-align: center;
            box-shadow: 0 2px 2px -2px #888;
            margin-bottom: 30px;

            &__text {
                text-transform: uppercase;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
    }
}