.addEmployeeModal {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        &__row {
            display: flex;
            gap: 20px;
        }

        &__buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media (max-width: 650px) {
    .addEmployeeModal__form {
        &__row {
            flex-direction: column;
            gap: 20px;
        }
    }
}